body{
    background-image: url("pic2.jpg");
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}
.room{
    display: flex;
 backdrop-filter: blur(5px);
  max-height: 392px;
  overflow: scroll;
}
#textbox{
    width: 93%;
}
#goback{
    font-weight: bolder;
    color:yellow;
}